resources/fake/shell2.php
venv/bin/python3.9
venv/bin/python3
venv/bin/python
venv/pyvenv.cfg
venv/lib64
resources/fake/istockphoto-1148557344-612x612.jpg
bin/python3.9
bin/python3
bin/python
pyvenv.cfg
lib64
